body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/1FONDO\ ABRAHAM_Mesa\ de\ trabajo\ 1.png'); /* Reemplaza 'ruta/tu-imagen-de-fondo.jpg' con la ruta correcta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    text-align: center;
   
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.container {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #2980b9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


h1 {
    color: white;
    font-family: 'Palatino', sans-serif; /* Cambia 'Roboto' a la fuente que desees usar */
    position: relative;
    margin-bottom: 20px;
    font-size: 40px;
    
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #3498db;
}

.container {
    margin-top: 20px;
}
.user-container {
    display: flex;
    flex-direction: column; /* Cambiado a columna para que las tarjetas estén en vertical */
    align-items: center; /* Centra las tarjetas horizontalmente */
}

.user-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px; /* Ajustado el ancho */
    background-color: white; /* Fondo blanco */
    border-radius: 8px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Borde redondeado */
    margin-right: 10px; /* Espaciado entre la imagen y los datos */
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.twitter-link {
    color: #1DA1F2; /* Color azul de Twitter */
    text-decoration: none;
    margin-top: 5px; /* Espaciado entre el email y el enlace de Twitter */
}
/*form {
    max-width: 400px;
    margin: 20px auto;
}*/

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.image-options {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    
}

.image-option {
    width: 50px;
    height: 125px;
    
    margin-inline: 40px;
    cursor: pointer;
    overflow: hidden;
}

.image-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

#registroForm , #editarParticipanteForm{
    background-color: white; /* Fondo blanco */
    border-radius: 4px;
    padding: 20px; /* Añadir relleno para un mejor espacio interno */
}

#registroForm,  #editarParticipanteForm label {
    display: block;
    color: black;
    margin-bottom: 8px; /* Espacio entre etiquetas y campos de entrada */
}

#registroForm input,
#registroForm button {
    width: 100%; /* Asegurar que los campos de entrada y el botón ocupen el ancho completo */
    margin-bottom: 16px; /* Espacio entre campos de entrada y el botón */
}

.image-options {
    display: flex;
    gap: 10px; /* Espacio entre las opciones de imagen */
}

.image-option {
    flex: 1; /* Distribuir espacio de manera uniforme entre las opciones de imagen */
}

#registroForm button,
#editarParticipanteForm button{
    background-color: #0c23ef; /* Color de fondo del botón (puedes cambiarlo según tus preferencias) */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.image-option label {
    color: black; /* Color de texto para los autores, ajusta según tus preferencias */
    margin-top: 5px; /* Espacio entre la imagen y el texto del autor */
    text-align: center; /* Centra el texto del autor */
}


/*--------------------------------------------------*/
/* Estilo para la tabla */
table {
    width: 80%;
    margin: 20px auto; /* Centra horizontalmente y agrega espacio en la parte superior */
    border-collapse: collapse;
    text-align: center;
    margin-top: 5%;
}

/* Estilo para las celdas del encabezado */
th {
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    padding: 12px;
    border: 1px solid #ddd; /* Borde ligero */
}

/* Estilo para las celdas de datos */
td {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Texto gris oscuro */
    padding: 12px;
    border: 1px solid #ddd; /* Borde ligero */
}

/* Estilo para los enlaces en las celdas de datos */
td a {
    color: #3498db;
    text-decoration: none;
}

/* Estilo para los enlaces al pasar el ratón por encima */
td a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------*/
 /* Estilos para el modal */
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 600px;
    width: 100%;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


#modalAsistentes .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    max-width: 600px;
    width: 100%;
}